asgiref==3.12.1
certifi==2026.7.22
charset-normalizer==3.5.2
Django==5.0.14
gunicorn==26.2.0
idna==3.20
mysqlclient==2.3.0
pillow==12.3.0
PyMySQL==1.2.3
python-dotenv==1.2.3
python-nmap==0.7.1
reportlab==5.0.1
requests==2.34.2
scapy==2.7.0
sqlparse==0.6.0
tzdata==2026.4
urllib3==2.8.0
